button{
    background-color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: purple;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}
section{
    display: flex;
    justify-content: center;
}